<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224399350726-8cb6d4nb3cuosmdebijvdet1kbia7m3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224399350726-8cb6d4nb3cuosmdebijvdet1kbia7m3s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>224399350726-aaos7rgvo8vcqrkmugs66e3liiee3es4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAbcoVUBs1Zvr09EBLmoXjlRwN56AK2fL8</string>
	<key>GCM_SENDER_ID</key>
	<string>224399350726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fomopips.parchi</string>
	<key>PROJECT_ID</key>
	<string>parchi-9e52b</string>
	<key>STORAGE_BUCKET</key>
	<string>parchi-9e52b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224399350726:ios:555e0a651d558e203d30c7</string>
</dict>
</plist>